body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, p, a, button {
  font-family: 'Limelight', cursive;
  color: #fff;
}
button {
  padding: 16px;
  margin-bottom: 20px;
  background: #477148;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}
.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(img/green-1556034_640.jpg);
  background-size: 25%;
}
.card {
  height: 214px;
  width: 148px;
  margin: 15px;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card::before {
  position: absolute;
  content: "";
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border: 5px solid #C5B358;
  border-radius: 5px;
}
