body {
  margin: 0;
  padding: 0;
}
.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/red-felt-texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card {
  height: 214px;
  width: 150px;
  margin: 8px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid rgba(255,255,255,0.6);
  border-radius: 10px;
}
